{% extends "simple_layout.html" %}

{% block title %} {{title}}  {% endblock title %}
{% block header %} {{header}}  {% endblock header %}

{% block content %} 
   <!-- CATEGORY -->
      
   <p> <big>
    <center>Internal Server Error: The server encountered an internal error and was unable to complete your request. <br>
    This is most likely caused by a miss spelled search. <br>
    <a href="/pokemon_form">Click here to return to search</a>   
   </center></big>
   
   </p>

{% endblock content %}